@use "abstracts/colors";
@use "abstracts/functions";

.wrapper-register-page {
  text-align: center;
  padding: functions.rem(100) 0;

  .register-content {
    background-color: colors.$accent-light-color;
    padding: functions.rem(30);
    border: 1px solid colors.$border-color;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    h1 {
      margin-bottom: functions.rem(15);
    }

    p {
      margin: functions.rem(20) 0;
      padding: 0 functions.rem(120);
      line-height: 22px;
    }

    .register-form {
      width: 42%;
      margin: auto;

      input,
      button {
        width: 100%;
        border: 1px solid colors.$border-color;
      }

      input {
        border-radius: 3px;
        padding: functions.rem(14);
        margin: 5px 0;
      }

      button {
        padding: functions.rem(18) 0;
        color: colors.$accent-light-color;
        border: none;
        background-color: colors.$primary-color;
        margin: functions.rem(23) 0 0;
        width: 30%;
        cursor: pointer;
        &:hover {
          background-color: #2980b9;
        }
      }
    }

    a {
      color: colors.$primary-color;
      font-weight: bold;
    }
  }
}
